<%= stylesheet_link_tag "branding.css", media: 'all' %>
<%= stylesheet_link_tag "owl.carousel.min.css", media: 'all' %>
<%= javascript_include_tag "noscrollbar.js", media: 'all'%>
<%= javascript_include_tag "owl.carousel.min.js", media: 'all'%>
<% content_for :title, "Branding" %>

<header>
  <%= render "layouts/header"%>
</header>

<div class="content">
  <div class="toptext">
  <h1>« <strong class="comfo">WAIT <span>x</span> SEE</strong> S'ENGAGE À METTRE EN AVANT VOTRE CULTURE ET VOS VALEURS TOUT EN AUGMENTANT VOTRE PART DU MARCHÉ. »</h1>
    
    <p><strong class="comfo">WAIT <span>x</span> SEE</strong> s'engage à mettre en avant votre culture et vos valeurs tout en augmentant votre part du marché.</p>
    <p>
      Grâce à notre expertise et notre analyse, nous mettrons à votre disposition nos meilleurs profils, que vous cherchiez à lancer une nouvelle marque,
      à en développer une existante ou à vous développer sur de nouveaux marchés.
    </p>

    <p>
      L'identification de points de contact clés et de nuances stratégiques du marché est essentielle à votre succès.
      Notre réseau constitué de créateurs indépendants et de marques internationales comprend les principaux points de contact des marchés localisés et internationaux.
    </p>

    <p>
      Notre maîtrise des marques micros et macros, nous permettra de créer pour vous une identité significative, des clients fidèles et une exposition médiatique cohérente.
      L'expertise et les différents points de vue de notre réseau ont été déterminants pour explorer notre imagination, améliorer nos perspectives et atteindre nos objectifs.
    </p>
  </div>

  <p class="soluce">
    Autant de solutions de communication qui vous apporteront des objectifs différents selon la stratégie adoptée :
  </p>
  <h2>NOS CLIENTS</h2>
  <p class="clients_text">
    Depuis le début de WAIT x SEE, un grand nombre de clients ont su nous faire confiance : 
  </p>
  <div class="owl-carousel owl-theme hide_mobile">
    <div class="item"><div class="align_center"><%= image_tag "branding_images/na-kd.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/too_faced.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/adidas.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/joone.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/Prettylittlething.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/zalando.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/cheerz.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/paul_hewitt.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/nu3_2.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/emma.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/FashionNova.webp" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/badoo.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/lounge.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/boohooMAN.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/bodyfit.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/shein.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/icandy.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/myprotein2.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/Twistshake.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/daniel_wellington.png" %></div></div>
    <div class="item"><div class="align_center"><%= image_tag "branding_images/zaful.png" %></div></div>
  </div>

  <div class="mobile_clients hide_desktop">
    <div class="align_center"><%= image_tag "branding_images/na-kd.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/too_faced.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/adidas.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/joone.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/Prettylittlething.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/zalando.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/cheerz.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/paul_hewitt.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/nu3_2.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/bodyfit.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/FashionNova.webp" %></div>
    <div class="align_center"><%= image_tag "branding_images/emma.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/lounge.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/boohooMAN.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/badoo.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/shein.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/icandy.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/myprotein2.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/Twistshake.png" %></div>
    <div class="align_center wellington"><%= image_tag "branding_images/daniel_wellington.png" %></div>
    <div class="align_center"><%= image_tag "branding_images/zaful.png" %></div>
  </div>
</div>

<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    autoplay: true,
    autoplayTimeout: 1000,
    autoplayHoverPause: true,
    margin:40,
    nav:false,
    slideTransition: 'linear',
    autoplaySpeed: 1000,
    responsive:{
        0:{
            items:3
        },
        1000:{
            items:10
        },
        1800:{
            items:12
        }
    }
})
</script>
<footer>
  <%= render "layouts/footer" %>
</footer>
