<%= stylesheet_link_tag "managing.css", media: 'all'%>
<%= javascript_include_tag "noscrollbar.js", media: 'all'%>
<% content_for :title, "Managing" %>
<header>
  <%= render "layouts/header"%>
</header>

<div class="content">
  <h3>« <strong class="comfo">WAIT <span>x</span> SEE</strong> IS AN INFLUENCE LABEL & SOCIAL MEDIA COMPANY. »</h3>

  <%= image_tag "video_managing.gif"%>

  <p>
    Nous nous assurons en adoptant une approche globale, que tous les
    éléments créatifs, la communication entre nos clients et nos équipes,
    les budgets, les échéanciers et les produits soient traités avec
    professionnalisme et efficacité.
  </p>

  <p>
    Talents indoor, influenceurs outdoor, nous collaborons quotidiennement
    avec des profils influents venant du monde entier pour la garantie d'une
    opéation unique et contrôlée.
  </p>

  <p>
    Les réseaux sociaux sont aujourd'hui, les premiers lieux de rencontre entre
    consommateurs et marques, les influenceurs en sont devenus les emblèmes,
    vitrines, et véritables garants, à la fois acheteurs et vendeurs.
  </p>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
