<%= stylesheet_link_tag "managing.css", media: 'all'%>
<%= javascript_include_tag "noscrollbar.js", media: 'all'%>
<% content_for :title, "Managing" %>
<header>
  <%= render "layouts/header"%>
</header>

<div class="content">
  <h3>« <strong class="comfo">WAIT <span>x</span> SEE</strong> IS AN INFLUENCE LABEL & SOCIAL MEDIA COMPANY. »</h3>

  <%= image_tag "video_managing.gif"%>



  <p>
    We take a holistic approach to ensure that all creative elements,
    communication between our clients and teams, budgets, schedules and
    products are handled with professionalism and efficiency.
  </p>

  <p>
    Indoor talents,
    outdoor influencers, we work daily with influents profiles from all over the
    world to guarantee a unique and controlled operation.
  </p>

  <p>
    Social networks are today the first meeting places between consumers and
    brands, influencers have become its emblems, showcases, and real guarantors,
    both buyers and sellers.
  </p>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
